<div class="card p-p-3">
  <form [formGroup]="filtroForm" (ngSubmit)="pesquisar()">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-4">
        <label for="nome">Nome</label>
        <input id="nome" type="text" pInputText formControlName="nome" />
      </div>
      <div class="p-field p-col-12 p-md-4">
        <label for="cnpj">CNPJ</label>
        <input id="cnpj" type="text" pInputText formControlName="cnpj" />
      </div>
      <div class="p-field p-col-12 p-md-4">
        <label for="status">Status</label>
        <p-dropdown id="status" formControlName="status" [options]="status" optionLabel="descricao" [showClear]="true"></p-dropdown>
      </div>
    </div>
    <div class="flex justify-end gap-3 mt-4">
      <button type="button" (click)="limparFiltro()"
        class="flex items-center gap-2 border border-primary-500 text-primary-500 px-4 py-2 rounded hover:bg-primary-500 hover:text-white transition">
        <i class="pi pi-times"></i>
        Limpar
      </button>
      <button type="submit"
        class="flex items-center gap-2 bg-primary-600 text-white px-4 py-2 rounded hover:bg-primary-700 transition">
        <i class="pi pi-search"></i>
        Buscar
      </button>
    </div>
  </form>

  <div class="mt-12">
    <p-table [value]="transportadoras" [paginator]="true" [rows]="10" [globalFilterFields]="['nome']"
      [rowsPerPageOptions]="[5,10,20]" [responsiveLayout]="'scroll'" [resizableColumns]="true" [sortMode]="'multiple'"
      [loading]="carregando">
      <ng-template pTemplate="header">
        <tr>
          <th class="!text-left">
            <div class="flex items-center gap-1" pSortableColumn="nome">
              Nome <p-sortIcon field="nome" styleClass="text-sm"></p-sortIcon>
            </div>
          </th>
          <th class="!text-left">
            <div class="flex items-center gap-1" pSortableColumn="cnpj">
              CNPJ <p-sortIcon field="cnpj" styleClass="text-sm"></p-sortIcon>
            </div>
          </th>
          <th class="!text-left">
            <div class="flex items-center gap-1" pSortableColumn="telefone">
              Telefone <p-sortIcon field="telefone" styleClass="text-sm"></p-sortIcon>
            </div>
          </th>
          <th class="!text-left">
            <div class="flex items-center gap-1" pSortableColumn="status">
              Status <p-sortIcon field="status" styleClass="text-sm"></p-sortIcon>
            </div>
          </th>
          <th class="!text-left">Ações</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-transportadora>
        <tr>
          <td>{{ transportadora.nome }}</td>
          <td>{{ transportadora.cnpj }}</td>
          <td>{{ transportadora.telefone }}</td>
          <td>{{ transportadora.status }}</td>
          <td class="flex justify-start gap-2">
            <button pButton icon="pi pi-pencil" type="button"
              class="p-button p-button-rounded border-none text-primary-400 hover:text-primary-600" pTooltip="Editar Transportadora" tooltipPosition="top"
              (click)="editar(transportadora)">
            </button>
            <button pButton [icon]="transportadora.status === 'Ativo' ? 'pi pi-eye' : 'pi pi-eye-slash'" type="button"
              class="p-button p-button-rounded border-none text-primary-600 hover:text-primary-500"
              [pTooltip]="transportadora.status === 'Ativo' ? 'Bloquear Transportadora' : 'Ativar Transportadora'" tooltipPosition="top"
              (click)="alterarStatus(transportadora)">
            </button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6" class="text-center">Nenhuma transportadora encontrada.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-toast></p-toast>